.song-1{
    border: none;
    background-color: white;
}.song-2{
    border: none;
    background-color: white;
}.song-3{
    border: none;
    background-color: white;
}.song-4{
    border: none;
    background-color: white;
}
.song-5{
    border: none;
    background-color: white;
}



.song {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .song img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .song-info {
    flex: 1;
  }
  .song-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .song-artist {
    font-size: 14px;
    color: #777;
  }



